.inputIcon {
  padding: 8px;
  padding-bottom: 9.75px;
  background: #ededed;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.outlineBorderCorrection {
  fieldset {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.formControl {
  min-width: 265px !important;
}

@media screen and (max-width: 600px) {
  .formControl {
    min-width: unset !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .container {
    display: block !important;
    width: 100%;
  }
}